[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"beautifulsoup4" = "*"
ipython = "*"
pelican = "*"
webassets = "*"
nbconvert = "*"
"Fabric3" = "*"
Markdown = "*"
fabric = "*"
notebook = ">=5.7.8"

[requires]
python_version = "3.7"
