docutils
feedgenerator
importlib-metadata
invoke
Jinja2==2.11.3
Markdown
markupsafe==2.0.1
nbconvert==5.6.0
notebook==5.6.0
pelican
Pygments
python-dateutil
pytz
six
typing-extensions
Unidecode
zipp
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
pelican_jupyter==0.10.0
bs4==0.0.1
webassets==2.0
lessc==0.1.3
