html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 12px "Raleway", sans-serif;
    line-height: 1.6em;
    color: #282828;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
pre {
    color: white;
    background-color: #272822;
}
a {
    color: #6699ff;
    text-decoration: none;
}
a.anchor-link {
    visibility: none;
    display: none;
}
a:hover {
    color: #6699ff;
    text-decoration: none;
}
#wrap {
    min-height: 100%;
}
.highlight {
    background-color: #fff;
    margin: 0px 10px;
}
.rendered_html pre {
    padding: 2px !important;
    color: #fff !important;
    background-color: black !important;
}
.rendered_html pre code {
    background-color: transparent;
    color: white;
}
header.main-header {
    background: none repeat scroll 0% 0% #6699ff;
}
header.main-header a {
    color: #fff;
}
header.main-header .container {
    max-width: 1200px;
}
header.main-header .container nav a:hover {
    background-color: #6699ff;
}
.navbar {
    background-color: #6699ff;
    border: 0px;
    background-image: url('/theme/images/Bar.GIF');
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 10px 0px 20px 0px;
    border-radius: 0px;
}
.navbar .navbar-brand {
    color: #fff;
    margin-top: 3px;
    font-weight: bold;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #fff;
    background-color: none;
}
.navbar .navbar-nav > li a {
    color: #fff;
}
.navbar .navbar-nav > li a.active {
    background-color: white;
}
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
    background-color: #6699ff;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #6699ff;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #6699ff;
    font-weight: bold;
}
.navbar .navbar-nav > li > img.mario-img {
    display: none;
    margin: 0px auto -4px auto;
    height: 16px;
}
.navbar {
    margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
    .navbar .navbar-nav > li.active > img.mario-img {
        display: block;
   }
}
.navbar .navbar-toggle, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:visited, .navbar .navbar-toggle:active {
    border: none;
    background-color: none;
}
.navbar-toggle {
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    margin-right: 16px;
}
.navbar .navbar-toggle:hover {
    background-color: #6699ff;
}
.navbar .submit-image{
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 32px;
    height: 32px;
    margin-top: -11px;
}

article {
    margin: 10px 40px 10px 10px;
}
article header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
article header h1 {
    margin-bottom: 2px;
    font-weight: 700;
    color: #000;
}
article header time {
    color: #9E9E9E;
    font-size: 0.85em;
    float: left;
}
article p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.6em;
}
article p.note {
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 0.533em 0.733em;
}
article p.alert {
    background: #ffffa0;
    border: 1px solid #e5e597;
    padding: 0.533em 0.733em;
}
article ul, article ol {
    margin-top: 0px;
    margin-bottom: 25px;
}
article li {
    font-size: 14px;
    line-height: 1.6em;
}
article a:hover {
    text-decoration: underline;
}
article blockquote {
    border-left: 2px solid #c7c7cc;
    color: #666;
    margin: 30px 0;
    padding: 0 0 0 25px;
}
article img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
article code {
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 13px;
}
article p code, article li code {
    color: #888;
    background: none;
    border: none;
}
article article pre {
    border-radius: 10px;
    margin: 10px 10%;
}
article article pre code {
    color: white;
    background-color: black;
}
article pre {
    border-radius: 0;
}
article pre code {
    border: none;
}
article span.err {
    color: #f5f5f5;
    background-color: none;
    border: none;
}
article .meta {
    font-size: 11px;
}
article .meta a:hover {
    text-decoration: none;
}
article .meta div {
    margin-bottom: 20px;
    display: block;
}
article .meta a.tag {
    margin: 0 10px 10px 0;
    padding: 1px 12px;
    display: inline-block;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    background: rgba(0,0,0,0.05);
}
article .meta a.tag:hover {
    background: rgba(0,0,0,0.15);
}
article .meta a.read_more, article .meta a.comments_btn {
    font-size: 14px;
    font-weight: 800;
    padding: 10px 20px;
    color: #6699ff;
    background: #FFF;
    border: 1px solid #6699ff;
}
article .meta a.read_more:hover, article .meta a.comments_btn:hover {
    color: #FFF;
    background: #6699ff;
}
.index article header h2 {
    font-size: 36px;
    margin-bottom: 2px;
    font-weight: 700;
}
.index article header h2 a {
    color: #000;
}
.index article header h2 a:hover {
    color: #6699ff;
    text-decoration: none;
}
.index .separator {
    padding: 0;
    margin: 0 40px;
    height: 10px;
    border-bottom: solid 1px #6699ff;
}
.index .pagination {
    display: block;
    margin-bottom: 100px;
}
.index .pagination .left {
    text-align: right;
}
.index .pagination .right {
    text-align: left;
}
.index .pagination a {
    display: inline-block;
    border: 2px solid #6699ff;
    margin: 0 5px;
    padding: 8px 20px;
    font-weight: bold;
    color: #6699ff;
}
.index .pagination a:hover {
    color: #FFF;
    background: #6699ff;
}
.post {
    max-width: 1200px;
}
.post h2:before {
    font-weight: bold;
    color: #DDD;
}
.post h3:before {
    font-weight: bold;
    color: #DDD;
}
.post h4:before {
    font-weight: bold;
    color: #DDD;
}
.post #disqus_thread {
    max-width: 100%;
}
.post article .meta {
    margin: 50px 0 100px;
}
.list {
    max-width: 1200px;
}
.list ul.double-list {
    margin: 0 auto 60px;
    padding: 0;
    list-style-type: none;
}
.list ul.double-list li {
    padding: 5px 0;
}
.list ul.double-list li h2 {
    font-size: 1em;
    display: inline;
    font-weight: normal;
}
.list ul.double-list li span {
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: right;
    float: right;
    padding-top: 3px;
    font-size: 12px;
    color: #999;
}
.page-sidebar nav {
    margin-bottom: 30px;
}
#sidebar-about {
    font-size: x-small;
    text-align: justify;
}
#sidebar-about .img-div {
    height: 140px;
    width: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin: 50px auto;
    --bs-gutter-x: 0;
}
#sidebar-about img {
    transform: translate(-50%);
    -ms-transform: r translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    width: 140px;
    height: 140px;
    margin-left: 70px;
    margin-top: 0px;
    vertical-align: middle;
}
ul.tagcloud {
    list-style: none;
    padding: 0;
    text-align: center;
}
ul.tagcloud li {
    display: inline-block;
}
ul.tagcloud .tag-0 {
    font-size: 200%;
}
ul.tagcloud .tag-1 {
    font-size: 150%;
}
ul.tagcloud .tag-2 {
    font-size: 120%;
}
ul.tagcloud .tag-3 {
    font-size: 100%;
}
ul.tagcloud .tag-4 {
    font-size: 80%;
}
ul.tagcloud .list-group-item .badge {
    background-color: grey;
    color: white;
}
ul.social-list {
    list-style: none;
    padding: 0;
    text-align: center;
}
ul.social-list li {
    display: inline-block;
    margin: 0px 2px;
}
footer {
    margin-top: 150px;
    padding-bottom: 50px;
    font-size: small;
    color: #c8c8c8;
    background-image: url('/theme/images/Bottom.GIF');
    background-repeat: repeat-x;
    background-position: bottom;
}
img.logo {
    height: 100px;
}
img.screenshot {
    max-width: 500px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(2px 5px 5px #222);
    margin: 50px auto;
}
.input_area {
    background-color: #272822 !important;
}

#tipue_search_foot_boxes li a {
    background-color: #f7f7f7;
    color: #666;
    padding: 10px 17px 11px 17px;
    border-radius: 3px;
    margin-right: 7px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}



/*
Tipue Search 7.1
Copyright (c) 2019 Tipue
Tipue Search is released under the MIT License
http://www.tipue.com/search
*/


/* search box */


#tipue_search_input
{
     float: left;
     /* font: 15px 'Open Sans', sans-serif; */
     color: #333;     
     -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
     width: 130px;
     border: none;
     padding: 9px 0 10px 18px;
     /* height: 56px; */
     border-radius: 3px;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
     box-shadow: none;
	outline: 0;
	margin: 0;
}
#tipue_search_input:-webkit-autofill,
#tipue_search_input:-webkit-autofill:hover, 
#tipue_search_input:-webkit-autofill:focus
{
     -webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset;
}
.tipue_search_button
{
     position: relative;
     float: left;
     width: 49px;
     height: 56px;
     margin-left: -3px;
     background-color: #f3f3f3;
     border: none;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
     box-sizing: border-box;
     cursor: pointer;
	outline: 0;
}
.tipue_search_icon
{
     float: left;
     font: 24px/1 'Open Sans', sans-serif;
     -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
     color: #333;
     transform: rotate(-45deg);
	-moz-appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
     box-shadow: none;
	outline: 0;	
	margin: -1px 0 0 16px;
}
.tipue_search_group:after
{
     content: "";
     display: table;
     clear: both;
}


/* search results */


#tipue_search_content
{
     max-width: 100%;
	margin: 0;
}
.tipue_search_content_title
{
     /* font: 300 32px/1.4 Merriweather, serif; */
	/* color: #111; */
}
.tipue_search_content_title a
{
     /* color: #111; */
     text-decoration: none;
}
.tipue_search_content_title a:hover
{
     border-bottom: 1px solid #333;
}
.tipue_search_result
{
     padding-top: 27px;
}
#tipue_search_results_count, .tipue_search_content_debug
{
     /* font: 13px/1.5 'Source Code Pro', monospace; */
	/* text-transform: uppercase; */
	/* color: #999; */
     -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#tipue_search_results_count
{
     padding-top: 9px;
}
.tipue_search_content_url, .tipue_search_note, .tipue_search_related, #tipue_search_error, #tipue_search_replace
{
     /* font: 300 16px/1.4 Merriweather, serif; */
     /* color: #666; */
     padding-top: 7px;
     word-wrap: break-word;
     hyphens: auto;
}
.tipue_search_content_url a, .tipue_search_note a, .tipue_search_related a, #tipue_search_replace a, #tipue_search_replace a:hover
{
     color: rgb(102, 153, 255);
     text-decoration: none;
}
.tipue_search_content_url a:hover, .tipue_search_note a:hover, .tipue_search_related a:hover
{
     color: #666;
}
.tipue_search_content_url {
    display: none;
}
#tipue_search_replace, .tipue_search_related
{
     margin-top: 7px;
}
#tipue_search_error
{
     color: #333;
     margin-top: 17px;
}
.tipue_search_content_text
{
     /* font: 300 18px/1.6 Merriweather, serif; */
	/* color: #333; */
     word-wrap: break-word;
     hyphens: auto;
     margin-top: 9px;
}
.tipue_search_content_bold
{
     font-weight: 400;
     color: #333;
}
.tipue_search_content_debug
{
     margin: 7px 0 2px 0;
}


/* images */


.tipue_search_image
{
     padding: 17px 0 6px 0;
}
.tipue_search_img
{
     width: 100%;
     max-width: 330px;
     height: auto;
     transition: 0.5s;
     border-radius: 2px;
}
.tipue_search_img:hover
{
     opacity: 0.9;
}
#tipue_search_zoom_text
{
     /* font: 12px/1.7 'Source Code Pro', monospace; */
	color: #ccc;
	/* text-transform: uppercase; */
	letter-spacing: 1px;
	padding-top: 9px;
}
#tipue_search_zoom_text a
{
     color: #ccc;
     text-decoration: none;
     border-bottom: 2px solid #f7f7f7;
}
#tipue_search_zoom_text a:hover
{
     border: 0;
}
.tipue_search_image_zoom
{
     cursor: pointer;     
}
#tipue_search_image_modal
{
     display: none;
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.9);
}
.tipue_search_image_close
{
     position: absolute;
     top: 0;
     right: 0;
     font: 22px/1 'Source Code Pro', monospace;
	color: #ccc;
     padding: 25px 30px;
     cursor: pointer;
}
.tipue_search_image_block
{
     margin: 0 auto;
     max-width: 900px;
     padding: 73px 30px 30px 30px;
     box-sizing: border-box;
     color: #fff;
}
#tipue_search_zoom_img
{
     max-width: 100%;
     height: auto;
}

#tipue_search_zoom_text, .tipue_search_zoom_options
{
     padding-top: 9px;
}


/* footer */


#tipue_search_foot
{
     margin: 51px 0 21px 0;
}
#tipue_search_foot_boxes
{
     /* font: 14px 'Source Code Pro', sans-serif;
	text-transform: uppercase; */
	color: rgb(102, 153, 255);
	padding: 0;
	margin: 0;
	cursor: pointer;
}
#tipue_search_foot_boxes li
{
     display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
#tipue_search_foot_boxes li a
{
     background-color: #f7f7f7;
	color: #666;
	padding: 10px 17px 11px 17px;
     border-radius: 3px;
	margin-right: 7px;
	text-decoration: none;
	text-align: center;
	transition: 0.3s;
}
#tipue_search_foot_boxes li.current
{
     background: rgb(102, 153, 255);
	color: #ccc;
	padding: 10px 17px 11px 17px;
     border-radius: 3px;
	margin-right: 7px;
	text-align: center;
}
#tipue_search_foot_boxes li a:hover
{
     background: rgb(102, 153, 255);
     color: #ccc;
}

