<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="description" content="{% block description %}{%endblock%}">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %} | {{ SITENAME }}</title>

        {% if EXTRA_HEADER %}{{ EXTRA_HEADER }}{% endif %}

        <link rel="alternate" type="application/atom+xml" title="{{SITENAME}} blog atom feed" href="/feeds/all.atom.xml" />
        <link href='//fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
        <link rel="stylesheet" href="/theme/tipuesearch/css/tipuesearch.css">

        
        <link rel="stylesheet" href="/theme/css/pygments.css">
        <!--<link rel="stylesheet" href="/theme/css/main.css">-->

        {% assets filters="less", output="css/main.css", "css/main.less" %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}

        {% block extra_head %}{%endblock%}

    </head>

    <body>
        <div id="wrap">
            {% include 'navbar.html' %}

            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html' %}
    </body>
</html>
