<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <div class="container">
        <a href="/" class="title navbar-brand d-flex w-50 me-auto">JJ's World</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item {% if 'Home' == page %} class="active"{% endif %}">
                    <a class="nav-link" href="/">Home {{ page }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div> -->
        {% include 'searchbar.html' %}
    </div>
</nav>